# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### WordPress template
*.log

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
